@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --nesify-green-color: #C7F2AB;
  --newsify-blue-color: #1668E8;
  --searchbar-border-color: #CCCCCC;
  --header-search-i-color: #707070;
  --feature-cards-color: #F7F7F7;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  background-color: var(--white-color);
}

.header__top-banner {
  /* max-width: 1920px; */
  text-align: center;
  padding: 11px 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21em;
  background-color: var(--nesify-green-color);
}

.header__top-banner--badge {
  max-width: 676px;
  background-color: var(--newsify-blue-color);
  color: var(--white-color);
  padding: 6px 21px 8px 23.9px;
  border-radius: 16px;
  font-size: 12px;
  margin-right: 8px;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 180px 160px 140px;
}

.header__logo {
  font-size: 34px;
  line-height: 1.21em;
  font-weight: 600;
  color: var(--newsify-blue-color);
}

.header__nav-links {
  display: flex;
  list-style: none;
  margin: 11px 102px 11px 300px;
}

.header__nav-item {
  margin-left: 40px;
}

.header__nav-link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  border: 1px solid var(--searchbar-border-color);
  border-radius: 100px;
  font-size: 16px;
  line-height: 1.25em;
  width: 259px;
}

.header__search input {
  padding: 19px 0 20px 18.75px;
  border: none;
  outline: none;
  width: 75%;
}

.header__search i {
  width: 18.87px;
  height: 18.87px;
  color: var(--header-search-i-color);
  margin: 19px 0 18px 19px;
}

.header__register-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25em;
  margin-left: 9px;
  padding: 20px 47px;
  border-radius: 50px;
  background-color: var(--newsify-blue-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__content {
  /* width: 50%; */
  max-width: 838px;
}

.main__greeting {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.main__title {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -2px;
  margin-bottom: 33px;
}

.main__description {
  font-size: 22px;
  line-height: 1.5em;
  margin-right: 389px;
  margin-bottom: 40px;
  color: var(--black-color);
}

.main__form {
  display: flex;
  align-items: center;
}

.main__input {
  font-size: 16px;
  line-height: 1.2em;
  width: 45%;
  padding: 20px 22px;
  margin-right: 10px;
  border-radius: 100px;
  border: 1px solid var(--searchbar-border-color);
  outline: none;
}

.main__button {
  font-size: 16px;
  font-weight: 700;
  padding: 20px 48px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--newsify-blue-color);
  color: var(--white-color);
}

.main__image img {
  width: 100%;
  max-width: 574px;
}

.brands {
  background-color: var(--newsify-blue-color);
  padding: 69px 89px 67px 78px;
}

.brands__container {
  display: flex;
  justify-content: center;
  gap: 133px;
}

.brands__item {
  display: flex;
  align-items: center;
  max-width: 109px;
  min-height: 45px;
}

/*-------------------------
  BRANDS LOGOS ANIMATION
-------------------------*/
.brands__item {
  animation: slide 25s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.brands__logo {
  max-height: 40px;
}

.newsletter {
  margin: 160px 333px 160px 333px;
  text-align: center;
  background-color: #ffffff;
}

.newsletter__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -2px;
  margin-bottom: 25px;
}

.newsletter__subtitle {
  font-size: 22px;
  line-height: 1.6em;
  margin:0 160px 54px 160px;
  color: var(--black-color);
}

.newsletter__chart {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.newsletter__chart-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 150px;
}

.newsletter__info-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.info-card {
  background-color: var(--feature-cards-color);
  padding: 20px;
  width: 400px;
  /* border-radius: 8px; */
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card--highlight {
  background-color: var(--newsify-blue-color);
  color: var(--white-color);
}

.info-card__icon {
  display: flex;
  min-height: 100px;
  margin: 110px;
  margin-top: -81px;
  margin-bottom: 44px;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--white-color);
  border-radius: 100px;
  background-color: var(--feature-cards-color);
}

.info-card__icon-blue {
  background-color: var(--newsify-blue-color);
}

.info-card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 26px;
  color: inherit;
}

.info-card__text {
  font-size: 17px;
  padding: 0 0px 58px 0;
  line-height: 1.6em;
  color: inherit;
}


/*--------------
  MEDIA QUERY
---------------*/

/* For tablets and smaller screens */
/* @media (max-width: 1024px) {
  .header__navbar {
    margin: 14px 80px 100px 80px;
  }

  .header__nav-links {
    margin: 11px 20px 11px 0;
  }

  .header__nav-item {
    margin-left: 20px;
  }

  .header__search {
    width: 200px;
  }

  .main__title {
    font-size: 60px;
  }

  .main__description {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .main__input {
    width: 60%;
  }

  .brands__container {
    gap: 50px;
  }
} */

/* For smaller tablets */
@media (max-width: 767px) {
  .header__navbar {
    flex-direction: column;
    align-items: center;
    margin: 14px 40px 80px 40px;
  }

  .header__nav-links {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .header__nav-item {
    margin: 10px 0;
  }

  .header__search {
    width: 180px;
  }

  .header__register-btn {
    padding: 15px 30px;
    margin-top: 10px;
  }

  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main__title {
    font-size: 48px;
  }

  .main__description {
    font-size: 18px;
  }

  .main__form {
    flex-direction: column;
    align-items: center;
  }

  .main__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .main__button {
    padding: 15px 40px;
  }

  .brands__container {
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* For mobile devices */
/* @media (max-width: 480px) {
  .header__navbar {
    margin: 14px 20px 60px 20px;
  }

  .header__logo {
    font-size: 28px;
  }

  .header__search {
    width: 150px;
  }

  .header__register-btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .main__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main__description {
    font-size: 16px;
    line-height: 1.4em;
  }

  .main__input {
    padding: 15px;
  }

  .main__button {
    padding: 15px 30px;
    font-size: 14px;
  }

  .brands__container {
    flex-direction: column;
    gap: 20px;
  }

  .brands__item {
    max-width: 80px;
    min-height: 35px;
  }
} */